@font-face {
  font-family: "Playfair Display";
  src:
    url("./assets/fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("./assets/fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("./assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto";
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1/3fr 1fr 1/3fr;
  margin: 0;
}

h1,
h2 {
  font-family: "Playfair Display";
}
a {
  text-decoration: none;
  color: white;
}

/* --------------------------------------- header --------------------------------- */

header {
  background: linear-gradient(
    to bottom right,
    rgba(8, 145, 178) 50%,
    white 50%
  );
}
.headerDiv {
  grid-row: 1 / span 1;
  display: block;
}

.headerDiv > .myPhoto {
  position: relative;
  background: url("./assets/img/portraits_1.jpg");
  background-size: cover;
}

.headerDiv > .aboutMe > .myPhoto {
  position: relative;
  background: url("./assets/img/portraits_1.jpg");
  background-size: cover;
}
.myPhoto-mediumSize {
  background: url("./assets/img/portraits_1.jpg");
  background-size: cover;
  width: 200px;
  height: 200px;
}

.myPhoto-mediumSize > h1 {
  color: white;
  position: absolute;
}

.headerDiv > .myPhoto > h1 {
  position: absolute;
  color: white;
}

.headerDiv > .aboutMe {
  background-color: white;
  box-shadow: 5px 5px 5px grey;
}

.headerDiv > .aboutMe > .myPhoto > h1 {
  position: relative;

  color: white;
}

.headerDiv > .headerLinks {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.headerDiv > .headerLinks > a > img {
  width: 40px;
  height: 40px;
}

/* --------------------------------------- main --------------------------------- */

.mainDiv {
  grid-row: 2 / span 1;
}

.mainDiv > h2 {
  text-align: center;
}

.mainDiv > .myProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainDiv > .myProjects > .project {
  margin-top: 10px;
  box-shadow: 5px 5px 5px grey;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mainDiv > .myProjects > .project > img {
  align-self: center;
  width: 200px;
  height: 200px;
}

.mainDiv > .myProjects > .project > .projectInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.mainDiv > .myProjects > .project > .projectInfo > .projectLinks {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  gap: 15px;
}

.projectLinks > a > img {
  width: 30px;
  height: 30px;
}

/* --------------------------------------- footer --------------------------------- */
footer {
  margin-top: 20px;
  background-color: rgba(8, 145, 178);
}
.footerDiv {
  grid-row: 3 / span 1;
  color: white;
  padding: 20px;
}
.footerDiv > .contactMe {
  display: flex;
}

.footerDiv > .contactMe > h1 {
  margin: 0;
  padding: 10px;
  padding-left: 0;
}

.footerDiv > .contactMe > .telephone > img {
  width: 20px;
  height: 20px;
  filter: invert();
}

.footerDiv > .contactMe > .email > img {
  width: 20px;
  height: 20px;
  filter: invert();
}

.footerDiv > .contactMe > .footerLinks {
  margin: 20px;
}

.footerDiv > .contactMe > .footerLinks > a {
  margin: 20px;
}

.footerDiv > .contactMe > .footerLinks > a > img {
  width: 40px;
  height: 40px;
  filter: invert();
}

.footerDiv > img {
  width: 300px;
  height: 300px;
}

/* --------------------------------------- media queries --------------------------------- */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 700px) {
  .myPhoto-mediumSize {
    display: none;
  }
  .headerDiv,
  .mainDiv,
  .footerDiv {
    margin-left: 10px;
    margin-right: 10px;
  }
  .headerDiv > .myPhoto {
    margin: auto;
    width: 200px;
    height: 200px;
  }
  .headerDiv > .myPhoto > h1 {
    bottom: 0;
    right: 10px;
  }
  .headerDiv > .aboutMe {
    align-self: center;
    text-align: center;
    width: 300px;
    margin: auto;
  }

  .footerDiv {
    display: flex;
    flex-direction: column;
  }
  .footerDiv > .contactMe {
    flex-direction: column;
  }

  .footerDiv > .contactMe > h1 {
    text-align: center;
  }
  .footerDiv > .contactMe > .footerLinks {
    align-self: center;
  }
  .footerDiv > * {
    align-self: center;
    text-align: center;
    width: 300px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 700px) {
  .aboutMe {
    margin-top: 150px;
  }
  .myPhoto {
    display: none;
  }
  .myPhoto-mediumSize {
    display: block;
    float: left;
    position: relative;
    transform: scale(1.4) translateX(-40px) translateY(-50px);
  }
  .myPhoto-mediumSize > h1 {
    top: 0;
    right: -140px;
  }
  .headerDiv,
  .mainDiv,
  .footerDiv {
    margin-left: 10vw;
    margin-right: 10vw;
    max-width: 700px;
  }

  .headerDiv > .aboutMe {
    width: 500px;
    margin-left: auto;
    height: 300px;
  }

  .headerDiv > .headerLinks {
    transform: translateX(-70px) translateY(-100px);
  }
  .mainDiv > .myProjects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 10px;
  }
  .footerDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .footerDiv > .contactMe {
    display: flex;
    flex-direction: column;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .headerDiv,
  .mainDiv,
  .footerDiv {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }

  .headerDiv > .aboutMe {
    margin-left: 300px;
  }
  .headerDiv > .headerLinks {
    transform: translateX(-70px) translateY(-100px);
  }
  .mainDiv > .myProjects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 10px;
  }
  .footerDiv {
    justify-content: space-around;
  }
  .footerDiv > .contactMe {
    margin-left: 50px;
  }
  .footerDiv > img {
    margin-right: 100px;
  }
}
