@font-face {
  font-family: "Playfair Display";
  src:
    url("./assets/fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("./assets/fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("./assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto";
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1/3fr 1fr 1/3fr;
  width: 90vw;
  margin: 5vw;
}

h1,
h2 {
  font-family: "Playfair Display";
}
a {
  text-decoration: none;
  color: white;
}

/* --------------------------------------- header --------------------------------- */
header {
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: column;
  background-color: white;
}

header > .myPhoto {
  position: relative;
  background: url("./assets/img/portraits_1.jpg");
  background-size: cover;
}

header > .myPhoto > h1 {
  position: absolute;
  color: white;
}

header > .headerLinks {
  display: flex;
  justify-content: center;
  gap: 10px;
}

header > .headerLinks > a > img {
  width: 5vw;
  height: 5vh;
}

/* --------------------------------------- main --------------------------------- */

main {
  margin-top: 10vw;
  grid-row: 2 / span 1;
}

main > h2 {
  text-align: center;
}

main > .myProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > .myProjects > .project {
  margin-top: 5vw;
  box-shadow: 5px 5px 5px grey;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main > .myProjects > .project > img {
  align-self: center;
  width: 200px;
  height: 200px;
}

main > .myProjects > .project > .projectInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

main > .myProjects > .project > .projectInfo > .projectLinks {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  gap: 15px;
}

.projectLinks > a > img {
  width: 30px;
  height: 30px;
}

/* --------------------------------------- footer --------------------------------- */
footer {
  margin-top: 10vw;
  grid-row: 3 / span 1;
  background-color: rgba(8, 145, 178);
  color: white;
  padding: 20px;
}

footer > .telephone > img {
  width: 20px;
  height: 20px;
  filter: invert();
}

footer > .email > img {
  width: 20px;
  height: 20px;
  filter: invert();
}

footer > .footerLinks > a > img {
  width: 40px;
  height: 40px;
  filter: invert();
}

footer > img {
  width: 300px;
  height: 300px;
}

/* --------------------------------------- media queries --------------------------------- */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  header > .myPhoto {
    margin: auto;
    width: 200px;
    height: 200px;
  }
  header > .myPhoto > h1 {
    bottom: 0;
    right: 10px;
  }
  header > .aboutMe {
    text-align: center;
  }
  main {
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  footer > h1 {
    text-align: center;
  }
  footer > .footerLinks {
    align-self: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
  header {
    background-color: rgb(255, 8, 0);
  }
  header > .myPhoto {
    width: 550px;
    height: 550px;
  }
  main {
  }
  main > .myProjects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5vw;
  }
  footer {
    background-color: rgb(225, 0, 255);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  header {
    background-color: rgb(255, 0, 149);
  }
  header > .myPhoto {
    width: 550px;
    height: 550px;
  }
  main {
  }
  footer {
    background-color: aqua;
  }
}
